* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-align: center;
    transition:
        background 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease;
    -webkit-transition:
        background 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease;
    -moz-transition:
        background 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease;
    -ms-transition:
        background 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease;
    -o-transition:
        background 0.5s ease,
        background-color 0.5s ease,
        color 0.5s ease;
}
header {
    height: 25px;
    margin-bottom: 2vh;
    -webkit-app-region: drag;
    cursor: move;
    button {
        -webkit-app-region: no-drag;
        cursor: default;
        float: right;
        height: 25px;
        width: 25px;
        margin: 0.5vh;
        color: black;
        background-color: transparent;
        border: none;
        cursor: pointer;
        &:hover {
            cursor: pointer;
            background-color: rgba(128, 128, 128, 0.5);
            transition:
                transform 0.3s ease,
                font-size 0.3s ease;
            transform: scale(1.2);
            -webkit-transform: scale(1.2);
            -moz-transform: scale(1.2);
            -ms-transform: scale(1.2);
            -o-transform: scale(1.2);
            -webkit-transition:
                transform 0.3s ease,
                font-size 0.3s ease;
            -moz-transition:
                transform 0.3s ease,
                font-size 0.3s ease;
            -ms-transition:
                transform 0.3s ease,
                font-size 0.3s ease;
            -o-transition:
                transform 0.3s ease,
                font-size 0.3s ease;
        }
    }
}
