@font-face {
  font-family: JetBrains;
  src: url(styles/font/JetBrainsMono-Regular.ttf);
}
* {
  margin: 0;
  padding: 0;
  color: var(--color);
  box-sizing: border-box;
  text-align: center;
  transition: background 0.5s ease, background-color 0.5s ease, color 0.5s ease, transform 0.2s ease-in-out;
  -webkit-transition: background 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -moz-transition: background 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -ms-transition: background 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  -o-transition: background 0.5s ease, background-color 0.5s ease, color 0.5s ease;
  overflow: hidden;
}

body {
  background-color: var(--bg-main);
}

button {
  color: black;
}

header {
  height: 25px;
  margin-bottom: 2vh;
  -webkit-app-region: drag;
  cursor: move;
}
header button {
  -webkit-app-region: no-drag;
  cursor: default;
  float: right;
  height: 25px;
  width: 25px;
  margin: 0.5vh;
  margin-left: 1vh;
  color: var(--color);
  background-color: transparent;
  border: none;
  cursor: pointer;
}
header button.window {
  float: left;
}
header button:hover {
  cursor: pointer;
  background-color: var(--color-gray);
  transition: transform 0.3s ease, font-size 0.3s ease;
  transform: scale(1.2);
  -webkit-transform: scale(1.2);
  -moz-transform: scale(1.2);
  -ms-transform: scale(1.2);
  -o-transform: scale(1.2);
  -webkit-transition: transform 0.3s ease, font-size 0.3s ease;
  -moz-transition: transform 0.3s ease, font-size 0.3s ease;
  -ms-transition: transform 0.3s ease, font-size 0.3s ease;
  -o-transition: transform 0.3s ease, font-size 0.3s ease;
}

main {
  aspect-ratio: 1/2;
  font-size: larger;
  font-family: JetBrains;
  margin: auto;
  width: 40vw;
  max-height: 1200px;
  min-width: 375px;
  max-width: 800px;
  height: 90vh;
  background-color: var(--bg-main);
  border: 5px solid var(--color);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
main input {
  width: 80%;
  height: 10%;
  margin-top: 5%;
  margin-bottom: 5vh;
  padding: 10%;
  font-size: larger;
  text-align: right;
  transition: border-radius 0.2s ease-in-out, box-shadow 0.4s ease-in-out;
  -webkit-transition: border-radius 0.2s ease-in-out;
  -moz-transition: border-radius 0.2s ease-in-out;
  -ms-transition: border-radius 0.2s ease-in-out;
  -o-transition: border-radius 0.2s ease-in-out;
}
main input:hover, main input:focus {
  border-radius: 15px;
  -webkit-border-radius: 15px;
  -moz-border-radius: 15px;
  -ms-border-radius: 15px;
  -o-border-radius: 15px;
}
main p.result {
  font-size: small;
  color: var(--color-gray);
  outline: 5px solid transparent;
  margin: auto;
  margin-top: 4vh;
  min-width: 375px;
  max-width: 800px;
  -webkit-text-decoration: underline var(--text-deco);
          text-decoration: underline var(--text-deco);
  width: 40vw;
  position: absolute;
}
main div.calcGrid {
  text-align: center;
  display: grid;
  height: 50vh;
  grid-template-columns: repeat(3, 33.3%);
  grid-template-rows: repeat(5, 10vh);
  margin-left: 5%;
  margin-right: 5%;
  margin-bottom: 5vh;
}
main div.calcDiv {
  font-size: xx-large;
  display: flex;
  justify-content: center;
  align-items: center;
}
main div.calcDiv:hover {
  background-color: var(--calcDiv-hover);
  cursor: pointer;
  border-radius: 1vh;
  -webkit-border-radius: 1vh;
  -moz-border-radius: 1vh;
  -ms-border-radius: 1vh;
  -o-border-radius: 1vh;
}
main div.calcDiv:focus {
  background-color: var(--calcDiv-focus);
}
main div.calcBtns {
  width: 90%;
  margin-left: 5%;
}
main div.calcBtns button {
  width: 45%;
  height: 5vh;
  font-size: xx-large;
  border: none;
  background-color: var(--bg-main);
  border-radius: 25px;
  -webkit-border-radius: 25px;
  -moz-border-radius: 25px;
  -ms-border-radius: 25px;
  -o-border-radius: 25px;
}
main div.calcBtns button:hover {
  background-color: var(--calcDiv-hover);
  cursor: pointer;
}

.calcFlash {
  background-color: var(--calcDiv-hover);
}/*# sourceMappingURL=style.css.map */